@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consumindo API com HttpClientFactory</h1>
    <img src="~/imagens/periquitos.jpg" asp-append-version="true">
</div>
